*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}
.menu-area a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: aqua;
                    height: 50px;
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
}
.menu-area a:hover{
                    background-color: tomato;
                    color:white;
}
.menu-area ul{
                    list-style: none;
                    display: flex;
}
.menu-area ul li{
                    position: relative;
                    width: 100%;
                    text-align: center;
}
.menu-area li:hover .drap-1 li{
                    display: block;
                    top: 0;
}
.drap-1 li{
                    display: none;
                    position: relative;
}
.drap-1{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
}
.drap-1 li:hover .drap-2 li{
                    display: block;
}
.drap-2 li{
                    display: none;
}
.drap-2{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 200px;
}
.baneer{
                    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(36, 32, 32, 0.6)),url(https://cdn.pixabay.com/photo/2020/06/19/22/33/wormhole-5319067_960_720.jpg);
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    height: 90vh;
}
.baneer h1{
                    font-size: 60px;
                    color: white;
                    text-align: center;
}